[submodule "LuaBridge"]
	path = LuaBridge
	url = https://github.com/vinniefalco/LuaBridge.git
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua.git
[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "ALittleIDE/Module/ALittleIDE/Other/GameLibrary/Core"]
	path = ALittleIDE/Module/ALittleIDE/Other/GameLibrary/Core
	url = https://github.com/alittlesail/ALittle-Core.git
[submodule "ALittleIDE/Module/ALittleIDE/Other/GameLibrary/Std"]
	path = ALittleIDE/Module/ALittleIDE/Other/GameLibrary/Std
	url = https://github.com/alittlesail/ALittle-Std.git
[submodule "sokol"]
	path = sokol
	url = https://github.com/floooh/sokol.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "Carp"]
	path = Carp
	url = https://github.com/alittlesail/ALittle-Carp.git
[submodule "sts"]
	path = sts
	url = https://github.com/kieselsteini/sts.git
