/ALittleIDE/Log
/ALittleIDE/Module/ALittleIDE/.vs
/ALittleIDE/Module/Emulator/.vs
/ALittleIDE/Module/Emulator/Export
/ALittleIDE/ALittleIDE.cfg
/ALittleIDE/Module/ALittleIDE/Export
/ALittleIDE/Module/ALittleIDE/ALittleIDE.cfg
/ALittleIDE/Module/Emulator/User.cfg
/ALittleIDE/Module/Emulator/ProtoCache.cfg
/ALittleIDE/Module/GBRMaker/ALittleIDE.cfg
/ALittleIDE/Module/GBRMaker/.vs
/ALittleIDE/Module/ALittleIDE/Other/GameLibrary/.vs
/ALittleIDE/Module/ABrowser/.vs
/ALittleIDE/Module/ALittleIDE/IDETemp
/ALittleIDE/Module/FlappyBird/.vs
/ALittleIDE/Module/FlappyBird/User.cfg
/ALittleIDE/Module/ABrowser/ModuleScreenSave
/ALittleIDE/Module/ABrowser/*.cfg
/ALittleIDE/Module/AEditor/.vs
/ALittleIDE/Module/AUIPlugin/.vs
/ALittleIDE/Module/FlappyBird/Export
/ALittleIDE/Module/G2048/Export
/ALittle/lib/ALittle
/ALittle/temp
/ALittle/.vs
/ALittleIDE/ALittleClientWind.exe
/ALittleIDE/*.pdb
/ALittleIDE/*.ilk
/ALittleIDE/ALittleClientd.exe
/ALittleIDE/ALittleServerd.exe
/ALittle/LibCommon/ThirdParty/.vs
/ALittle/LibCommon/ThirdParty/x64
/ALittle/LibCommon/ThirdParty/alittlescript/x64
/ALittleIDE/*.iobj
/ALittleIDE/*.ipdb
/ALittleIDE/Module/BattleCity/Export
/ALittle/LibCommon/ThirdParty/abnf/x64
/ALittle/LibCommon/ThirdParty/json/x64
/ALittle/LibCommon/ThirdParty/csv/x64
/ALittle/LibCommon/ThirdParty/base64/x64
/ALittle/LibCommon/ThirdParty/alanguage/x64
/ALittle/LibCommon/ThirdParty/lfs/x64
/ALittle/LibCommon/ThirdParty/md5/x64
/ALittle/LibCommon/ThirdParty/memory/x64
/ALittle/LibCommon/ThirdParty/net/x64
/ALittle/LibCommon/ThirdParty/protobuf/x64
/ALittle/LibCommon/ThirdParty/script/x64
/ALittle/LibCommon/ThirdParty/socket/x64
/ALittle/LibCommon/ThirdParty/sqlite3/x64
/ALittle/LibCommon/ThirdParty/timer/x64
/ALittle/LibCommon/ThirdParty/utf8/x64
/ALittleIDE/Module/Index/Export
/ALittleIDE/SokolTestd.exe
/ALittle/lib/lua/x64
/ALittle/*.dat
/ALittleIDE/Export/Android/obj
/ALittle/ALittleClient/*.user
/ALittleIDE/Module/SuperMarioBros/Export
/lualib/.vs
/lualib/deeplearning/x64
/lualib/x64
/ALittleIDE/Module/ADeeplearning/Other/asmjit.dll
/ALittleIDE/Module/ADeeplearning/Other/c10.dll
/ALittleIDE/Module/ADeeplearning/Other/caffe2_detectron_ops.dll
/ALittleIDE/Module/ADeeplearning/Other/caffe2_module_test_dynamic.dll
/ALittleIDE/Module/ADeeplearning/Other/fbgemm.dll
/ALittleIDE/Module/ADeeplearning/Other/libiomp5md.dll
/ALittleIDE/Module/ADeeplearning/Other/libiompstubs5md.dll
/ALittleIDE/Module/ADeeplearning/Other/torch.dll
/ALittleIDE/Module/ADeeplearning/Other/torch_cpu.dll
/ALittleIDE/Module/ADeeplearning/Other/torch_global_deps.dll
/ALittleIDE/Module/ADeeplearning/Other/uv.dll
/lualib/sqlite3/x64
/lualib/deeplearning/lib/libtorch/torch_cpu.lib
/lualib/deeplearning/lib/libtorch/asmjit.lib
/lualib/deeplearning/lib/libtorch/c10.lib
/lualib/deeplearning/lib/libtorch/c10d.lib
/lualib/deeplearning/lib/libtorch/caffe2_detectron_ops.lib
/lualib/deeplearning/lib/libtorch/caffe2_module_test_dynamic.lib
/lualib/deeplearning/lib/libtorch/clog.lib
/lualib/deeplearning/lib/libtorch/cpuinfo.lib
/lualib/deeplearning/lib/libtorch/dnnl.lib
/lualib/deeplearning/lib/libtorch/fbgemm.lib
/lualib/deeplearning/lib/libtorch/gloo.lib
/lualib/deeplearning/lib/libtorch/libprotobuf.lib
/lualib/deeplearning/lib/libtorch/libprotobuf-lite.lib
/lualib/deeplearning/lib/libtorch/libprotoc.lib
/lualib/deeplearning/lib/libtorch/mkldnn.lib
/lualib/deeplearning/lib/libtorch/torch.lib
