[submodule "LuaBridge"]
	path = LuaBridge
	url = https://github.com/vinniefalco/LuaBridge.git
	branch = master
[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio.git
	branch = master
[submodule "ALittleIDE/Module/ALittleIDE/Other/GameLibrary/Core"]
	path = ALittleIDE/Module/ALittleIDE/Other/GameLibrary/Core
	url = https://github.com/alittlesail/ALittle-Core.git
	branch = master
[submodule "ALittleIDE/Module/ALittleIDE/Other/GameLibrary/Std"]
	path = ALittleIDE/Module/ALittleIDE/Other/GameLibrary/Std
	url = https://github.com/alittlesail/ALittle-Std.git
	branch = master
[submodule "sokol"]
	path = sokol
	url = https://github.com/floooh/sokol.git
	branch = master
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "Carp"]
	path = Carp
	url = https://github.com/alittlesail/ALittle-Carp.git
	branch = master
[submodule "kcp"]
	path = kcp
	url = https://github.com/skywind3000/kcp.git
	branch = master
[submodule "SDL"]
	path = SDL
	url = https://github.com/alittlesail/SDL.git
	branch = master
[submodule "lua"]
	path = lua
	url = https://github.com/alittlesail/lua.git
	branch = master
[submodule "ALittleIDE/Module/ALittleIDE/Other/GameLibrary/SEngine"]
	path = ALittleIDE/Module/ALittleIDE/Other/GameLibrary/SEngine
	url = https://github.com/alittlesail/ALittle-SEngine.git
	branch = master
[submodule "ALittleIDE/Module/ALittleIDE/Other/GameLibrary/CEngine"]
	path = ALittleIDE/Module/ALittleIDE/Other/GameLibrary/CEngine
	url = https://github.com/alittlesail/ALittle-CEngine.git
	branch = master
[submodule "ALittleIDE/Module/ALittleIDE/Other/GameLibrary/DeployServer"]
	path = ALittleIDE/Module/ALittleIDE/Other/GameLibrary/DeployServer
	url = https://github.com/alittlesail/ALittle-DeployServer.git
	branch = master
[submodule "ALittleIDE/Module/ALittleIDE/Other/GameLibrary/VersionServer"]
	path = ALittleIDE/Module/ALittleIDE/Other/GameLibrary/VersionServer
	url = https://github.com/alittlesail/ALittle-VersionServer.git
	branch = master
[submodule "ALittleIDE/Module/ALittleIDE/Other/GameLibrary/GatewayServer"]
	path = ALittleIDE/Module/ALittleIDE/Other/GameLibrary/GatewayServer
	url = https://github.com/alittlesail/ALittle-GatewayServer.git
	branch = master
[submodule "ALittleIDE/Module/AUIPlugin"]
	path = ALittleIDE/Module/AUIPlugin
	url = https://github.com/alittlesail/ALittle-AUIPlugin.git
	branch = master
