[submodule "LuaBridge"]
	path = LuaBridge
	url = https://github.com/vinniefalco/LuaBridge.git
	branch = master
[submodule "asio"]
	path = asio
	url = https://github.com/chriskohlhoff/asio.git
	branch = master
[submodule "sokol"]
	path = sokol
	url = https://github.com/floooh/sokol.git
	branch = master
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "Carp"]
	path = Carp
	url = https://github.com/alittlesail/ALittle-Carp.git
	branch = master
[submodule "kcp"]
	path = kcp
	url = https://github.com/skywind3000/kcp.git
	branch = master
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "SDL"]
	path = SDL
	url = https://github.com/alittlesail/SDL.git
[submodule "hiredis"]
	path = hiredis
	url = https://github.com/redis/hiredis.git
