/ALittle/.vs
/ALittle/temp
/ALittle/*.dat
/lualib/x64
/lualib/.vs
/lualib/abnf/x64
/lualib/ajson/x64
/lualib/alanguage/x64
/lualib/alittlescript/x64
/lualib/carp/x64
/lualib/cjson/x64
/lualib/deeplearning/x64
/lualib/memory/x64
/lualib/protobuf/x64
/lualib/socket/x64
/lualib/sqlite3/x64
/lualib/tinyxml2/x64
/lualib/sip/x64
/lualib/rtp/x64
/bin/*.pdb
/bin/*.ilk
/bin/*.ipdb
/bin/*.iobj
/bin/ALittleClientWind.exe
/bin/ALittleClientd.exe
/bin/ALittleServerd.exe
/ALittle/lib/lua/x64
/ALittle/lib/ALittle
/lualib/sipserver/x64
/.vs
/ALittle/ALittlePi/bin
/ALittle/ALittlePi/obj
