/Emscripten
/ALittle/Log
/ALittle/Module/ALittleIDE/.vs
/ALittle/Module/Emulator/.vs
/ALittle/Module/Emulator/Export
/ALittle/ALittleIDE.cfg
/ALittle/Module/ALittleIDE/Export
/ALittle/Module/ALittleIDE/ALittleIDE.cfg
/ALittle/Module/Emulator/User.cfg
/ALittle/Module/Emulator/ProtoCache.cfg
/ALittle/Module/GBRMaker/User.cfg
/ALittle/Module/GBRMaker/ALittleIDE.cfg
/ALittle/Module/GBRMaker/.vs
/ALittle/Module/GBR/*.cfg
/ALittle/Module/ALittleIDE/Other/GameLibrary/.vs
/ALittle/Module/GBR
